<app-menu-header/>

<div class="contenedor">
  <div class="panell">
    <h1 class="titol">Crear alumne</h1>

    <input type="text" class="id-alumne" placeholder="Id alumne">

    <div class="fila">
      <input type="text" placeholder="Nom">
      <input type="text" placeholder="Cognoms">
    </div>

    <input type="text" placeholder="Codi grup matricular">
    <input type="text" placeholder="id ieduca">

    <label class="conflictiu">
      <input type="checkbox"> Conflictiu
    </label>

    <button type="button">Afegir Alumne</button>
  </div>

  <figure class="pantalla">
    <img src="fotoalumnetemporal.jpg" alt="Fotografia de l'alumne">
  </figure>
</div>
