<app-menu-header/>

<div class="contenedor">
  <div class="panell">
    <h1 class="titol">Eliminar alumne</h1>

    <input type="text" class="id-alumne" placeholder="Id alumne">

    <div class="fila">
      <input type="text" placeholder="Nom">
      <input type="text" placeholder="Cognom 1">
      <input type="text" placeholder="Cognom 2">
    </div>

    <input type="text" placeholder="Codi grup matricular">
    <input type="text" placeholder="id ieduca">

    <button type="button">Buscar / Eliminar</button>
  </div>

  <figure class="pantalla">
    <img src="fotoalumnetemporal.jpg" alt="Fotografia de l'alumne">
  </figure>
</div>
