<main class="pantalla">
  <section class="lista">
    <h1>Alumnes en el lavabo</h1>

    <table>
      <thead>
      <tr>
        <th>Alumne</th>
        <th>Hora de entrada</th>
        <th>Temps fora</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Marc Ribas</td>
        <td>10:05</td>
        <td>2 min</td>
        <td><span class="punto normal"></span></td>
      </tr>
      <tr>
        <td>Laura Pons</td>
        <td>10:12</td>
        <td>5 min</td>
        <td><span class="punto conflictivo"></span></td>
      </tr>
      <tr>
        <td>Pau Serra</td>
        <td>10:20</td>
        <td>1 min</td>
        <td><span class="punto normal"></span></td>
      </tr>
      </tbody>
    </table>
  </section>
</main>
