<app-menu-header/>
<div class="pagina">
  <main class="botons">

    <div class="fila">
      <button class="boto" routerLink="/consultar/alumne">ALUMNE</button>
      <button class="boto" routerLink="/consultar/grup">GRUP</button>
    </div>

    <div class="fila">
      <button class="boto" routerLink="/consultar/professor">PROFESSOR</button>
      <button class="boto" routerLink="/consultar/data">DATA</button>
    </div>

    <div class="fila fila-centrada">
      <button class="boto" routerLink="/consultar/interval">INTERVAL DE DADES</button>
    </div>

  </main>
</div>
