<app-menu-header/>
<div class="pagina">
  <main class="botons">

    <div class="fila">
      <button class="boto" routerLink="/consultaralumne">ALUMNE</button>
      <button class="boto" routerLink="/consultargrup">GRUP</button>
    </div>

    <div class="fila">
      <button class="boto" routerLink="/consultarprofessor">PROFESSOR</button>
      <button class="boto" routerLink="/consultardata">DATA</button>
    </div>

    <div class="fila fila-centrada">
      <button class="boto" routerLink="/consultarinterval">INTERVAL DE DADES</button>
    </div>

  </main>
</div>
