<app-menu-header/>

<div class="pagina">

  <div class="llista">


    <div class="sortida-card">
      <div class="capcalera">
        <div class="camp alumne">
          <p><strong>Laia</strong> Ferrer Vidal</p>
          <p class="grup">Grup: 2n DAW</p>
        </div>
        <div class="camp professor">
          <p class="etiqueta">Professor</p>
          <p>Marta Puig</p>
        </div>
      </div>

      <div class="dades">
        <p class="camp"><span class="etiqueta">Data entrada</span>12/03/2024 10:05</p>
        <p class="camp"><span class="etiqueta">Durada</span>8 min</p>
        <p class="camp"><span class="etiqueta">Data sortida</span>12/03/2024 10:13</p>
      </div>
    </div>


    <div class="sortida-card">
      <div class="capcalera">
        <div class="camp alumne">
          <p><strong>Laia</strong> Ferrer Vidal</p>
          <p class="grup">Grup: 2n DAW</p>
        </div>
        <div class="camp professor">
          <p class="etiqueta">Professor</p>
          <p>Marta Puig</p>
        </div>
      </div>

      <div class="dades">
        <p class="camp"><span class="etiqueta">Data entrada</span>12/03/2024 10:05</p>
        <p class="camp"><span class="etiqueta">Durada</span>8 min</p>
        <p class="camp"><span class="etiqueta">Data sortida</span>12/03/2024 10:13</p>
      </div>
    </div>


    <div class="sortida-card">
      <div class="capcalera">
        <div class="camp alumne">
          <p><strong>Laia</strong> Ferrer Vidal</p>
          <p class="grup">Grup: 2n DAW</p>
        </div>
        <div class="camp professor">
          <p class="etiqueta">Professor</p>
          <p>Marta Puig</p>
        </div>
      </div>

      <div class="dades">
        <p class="camp"><span class="etiqueta">Data entrada</span>12/03/2024 10:05</p>
        <p class="camp"><span class="etiqueta">Durada</span>8 min</p>
        <p class="camp"><span class="etiqueta">Data sortida</span>12/03/2024 10:13</p>
      </div>
    </div>


    <div class="sortida-card">
      <div class="capcalera">
        <div class="camp alumne">
          <p><strong>Laia</strong> Ferrer Vidal</p>
          <p class="grup">Grup: 2n DAW</p>
        </div>
        <div class="camp professor">
          <p class="etiqueta">Professor</p>
          <p>Marta Puig</p>
        </div>
      </div>

      <div class="dades">
        <p class="camp"><span class="etiqueta">Data entrada</span>12/03/2024 10:05</p>
        <p class="camp"><span class="etiqueta">Durada</span>8 min</p>
        <p class="camp"><span class="etiqueta">Data sortida</span>12/03/2024 10:13</p>
      </div>
    </div>
  </div>

  <aside class="panells">
    <div class="panell">
      <p class="titol">Temps mitjà de sortides</p>
      <p class="valor">7 min</p>
    </div>
    <div class="panell">
      <p class="titol">Alumnes amb més sortides</p>
      <p class="valor">Laia Ferrer</p>
    </div>
  </aside>

</div>
